<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDA suite" thread-count="2" parallel="tests" verbose="1">
    <listeners>
        <listener class-name="sa.osama_alharbi.sda.assigments.CustomListeners"/>
    </listeners>
    <test name="SDA test">
        <parameter name="target-browser" value="chrome"/>
        <classes>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task1Test"/>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task2Test"/>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task3Test"/>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task4Test"/>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task5Test"/>
            <class name="sa.osama_alharbi.sda.assigments.week5.Week5Task6Test"/>
        </classes>
    </test>
</suite>